.userMenuContainer {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-left: 50px;
}

.logOutBtn {
  font-size: 15px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #5a4630;
  color: #fff;
  cursor: pointer;
  &:hover {
    transition: box-shadow 0.5s ease;
    border-color: 1px solid rgba(255, 241, 162, 0.2);
    box-shadow: 0 0 5px 2px rgba(126, 88, 60, 0.3);
    background-color: #fff8f0;
    color: #5a4630;
    font-size: 15px;

    outline: none;
  }
}

.userName {
  font-size: 18px;
}
